#set-con {
    margin: 20px;
    /*width: 100%;*/
    border: 2px solid #b7b7b7;
    height: auto;
    border-radius: 20px;
}

.add-pc-oder {
    /* border: 1px solid red;*/
    margin: 50px;
    height: auto;
    margin-top: 20px;
}

#table-show-detail {
    /*width: 100%;*/
    display: block;
    margin: 50px;
    margin-top: 0px;
    overflow: scroll;
    height: 27%;

}

#display_popConfirm {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    backdrop-filter: blur(5px);
    /* border: 1px solid red;*/
}

#popup_confirm_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#popcup-confirm-ct {
    border-radius: 20px;
    background: white;
    margin-top: 280px;
    border: 1px solid black;
    height: 140px;
    width: 350px;
}

#popcup-confirm-ct table {
    text-align: center;
}

textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}

#popup-content {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    backdrop-filter: blur(5px);
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-ct {
    width: 1300px;
    border-radius: 10px;
    background: white;
    margin-top: 25px;
    border: 3px solid #006ebc;
}

#close-button {
    background: white;
    color: #006ebc;
    border: 1px solid white;
    font-size: 14px;
}

#close-button:hover {
    background: white;
    color: red;
    border: 1px solid white;
    transition: 1s;
}

#insert-button {
    transition: 0.3s;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    background: #006EBC;
    height: 35px;
    width: 100px;
    border: 0px solid rgb(255, 255, 255);
}

.haha {
    margin: 10px;
}

#insert-button:hover {
    cursor: pointer;
    border-radius: 20px;
    color: white;
    background: #014474;
    height: 35px;
    width: 100px;
    border: 0px solid red;
}

#save-data {
    padding:10px;
    text-decoration: none;
    cursor: pointer;
    border: 0px solid black;
    font-family: Noto sans Thai;
    background: #006EBC;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    transition: 0.2s;;
}

#save-data:hover {
    cursor: pointer;
    border-radius: 20px;
    color: white;
    background: #014474;
    height: 35px;
    width: 100px;
    border: 0px solid red;
}

input[type=button] {
    transition: 0.3s;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    background: #006EBC;
    height: 35px;
    width: auto;
    border: 0px solid rgb(255, 255, 255);

}

input[type=button]:hover {
    cursor: pointer;
    border-radius: 20px;
    color: white;
    background: #014474;
    height: 35px;
    width: auto;
    border: 0px solid red;

}

#add_butt {
    padding:10px;
    text-decoration: none;
    cursor: pointer;
    border: 0px solid black;
    font-family: Noto sans Thai;
    background: #006EBC;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    transition: 0.2s;
}

#add_butt:hover {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    cursor: pointer;
    border: 0px solid black;
    font-family: Noto sans Thai;
    background: #014474;
    border-radius: 30px;
    color: rgb(255, 255, 255);
}

#unit_order_afb{
    width: 20px;
}

/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*POP UP แก้ไข ลบ รายการของใบขอซื้อ */
#popup_background_order_afb_edit {
    /*display: none;*/
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    backdrop-filter: blur(5px);
}

#popup_edit_order_afb {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 50px;
    display: block;
    /* border: 1px solid red; */
    align-items: center;
    width: 700px;
    border-radius: 10px;
    background: white;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #006EBC;
}

#block_laout {
    /* border: 1px solid red;*/
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
    align-items: right;
}


#subject_order_edit {
    width: 400px;
    height: 45px;
    margin-top: -2px;
}

#box_content {
    display: flex;
    /* border: 1px solid red; */
    background-color: white;
}

#tilte_popup {
    border-radius: 50px;
    text-align: center;
    background-color: #006EBC;
    height: 50px;
    font-size: 30px;
    color: white;
}

#block_butt_close {
    background-color: #006EBC;

}

#box_butt_close {
    display: flex;
    justify-content: right;
    background-color: #006EBC;
    margin-right: 10px;
    padding-top: 10px;
    border-radius: 40px;
}

#box_butt_close a {
    border-radius: 40px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    color: #006EBC;
    background-color: white;
    font-weight: bold;
    transition-duration: 0.2s;
}

#box_butt_close a:hover {
    cursor: pointer;
    background: #014474;
    color: white;
}

#box_butt_enter {
    display: flex;
    justify-content: right;
    background-color: white;

}

#block_butt_enter {
    background-color: white;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}

#block_butt_enter button {
    transition: 0.3s;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    background: #006EBC;
    height: 35px;
    width: 100px;
    border: 0px solid rgb(255, 255, 255);
}

#block_butt_enter button:hover {
    cursor: pointer;
    border-radius: 20px;
    color: white;
    background: #014474;
    height: 35px;
    width: 100px;
    border: 0px solid red;
}

#edit_butt {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    cursor: pointer;
    border: 0px solid black;
    font-family: Noto sans Thai;
    background: #f7d07a;
    border-radius: 30px;
    color: #000;
    transition: 0.2s;
}

#edit_butt:hover {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    cursor: pointer;
    border: 0px solid black;
    font-family: Noto sans Thai;
    background: #f7d05a;
    border-radius: 30px;
    color: #7285a5;
}

#delete_butt {
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    margin-top: 2px;
    cursor: pointer;
    border: 0px solid black;
    font-family: Noto sans Thai;
    background: #fd464a;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    color: #fff;
    transition: 0.2s;
}

#delete_butt:hover {
    text-decoration: none;
    margin-top: 2px;
    cursor: pointer;
    border: 0px solid black;
    font-family: Noto sans Thai;
    background: #fd464a;
    width: 70px;
    height: 30px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
}

#button-div{
    display: flex;
    align-items: center;
}

/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/